body{
padding: 25px;
font-family:Comic Sans MS;
color:pink;
}
.title {
color:black;
}
.h{
color:powderblue;
font-family:Comic Sans MS;
}
strong {
    color: rgb(220, 70, 95); /* Dark blue color for strong elements */
}
footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}
.btn {
    color: rgb(0, 0, 0);
    background-color: #bee512;
    width: 140px;
    height: 38px;
    border-width: 0px;
    border-radius: 50px;
    padding:10px;
    margin: 10px;
}
